@charset "utf-8";

@media screen and (min-width:992px) {
    body{
        background-image: linear-gradient(to top,#F2D8C9,#c955559b );
    }
    section#login{
         width: 950px;
    }

    section#login > div#imagem{
       float: left;
       width: 50%;
       height: 100%;
    }
    section#login > div#form{
        float: right;
        width: 50%;
    }
    div#form > h1 {
       font-size: 2em;  
    
    }
    div#form > p{
        font-size: 1.3em;
    }
    
    
}