@charset "utf-8";

@media screen and (min-width:768px) and (max-width:992px) {
    body{
        background-image: linear-gradient(to top,#c955559b, #F2D8C9 );
    }
    section#login{
width: 80vw;
    }
    section#login > div#imagem{
        background-position: center center;
        float: left;
        width: 30%;
        height: 100%;
    }
    section#login > div#form{
        float: right;
        width: 70%;
        
    }
}
