@charset "utf-8";

/*#F2D8C9,#c955559b */
*{
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
padding: 0px;
margin: 0px;
box-sizing: border-box;
}
body,html{
    background-color:#F2D8C9;
    width: 100vw;
    height: 100vh;

}
main{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
section{
    
    overflow: hidden;
    background-color: white;
    width: 255px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.185);
    transition: width 0.4s, heigth 0.4s;
    transition-timing-function: ease;
}
section#login > div#imagem{
    display: block;
    background:#F2D8C9 url(../feliz-natal.jpg) no-repeat ;
    background-size: cover;
    background-position: right center;
    height: 200px;
}
section#login > div#form{
    display: block;
    padding: 10px;
}

div#form > h1 {
    text-align: center;  

}
div#form > p{
    font-size: 1em;
    margin: 20px 0px;
}
form >div.campo{
    display: block;
    background-color: #F2D8C9;
    border: 2px solid #F2D8C9;
    width: 100%;
    height: 30px;
    border-radius: 8px;
    margin: 5px 0px;
    
}
div.campo > label{
    display: none;
  
}

div.campo > input{
    background-color: #8c3c3c9b;
    font-size: 1em;
   width: calc(100% - 45px);
    height: 100%;
    border: 0px;
    border-radius: 8px;
    padding: 4px;
    transform: translateY(-10px);
}
div.campo > input:focus-within{
    background-color: white;
}
div.campo > span{
    color: white;
    font-size: 1.5em;
    width: 40px;
    padding: 5px;

  
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 30px;
    background-color: #c955559b ;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
form > input[type=submit]:hover{
    background-color: #8c3c3c9b ;
}

form > a.botao{
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 30px;
    margin-top: 8px;
    background-color: white;
    color: #8c3c3c9b;
  text-decoration: none;
    border: 1px solid #F2D8C9;
    border-radius: 8px;

}
form > a.botao:hover{
    background-color: #F2D8C9;

}